<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
@model IEnumerable<Category>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .btn-edit {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }

    .btn-delete {
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
    }

</style>
<div id="posts-container">
    @if (Model == null || !Model.Any())
    {
        <h1 style="text-align:center;margin-top:50px">No Category Available</h1>
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@x.CategoryName</td>
                        <td>
                            <a asp-action="UpdateCategory" asp-controller="Home" asp-route-id="@x.CategoryId" class="btn btn-edit">Edit</a>
                            <a asp-action="DeleteCategory" asp-controller="Home" asp-route-id="@x.CategoryId" class="btn btn-delete">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>
    @if (TempData["SuccessMessage"] != null)
    {
        <text>
            Toastify({
                text: '@TempData["SuccessMessage"]',
                duration: 3000,
                destination: "https://github.com/apvarun/toastify-js",
                newWindow: true,
                close: true,
                gravity: "top",
                position: "center",
                stopOnFocus: true,
                style: {
                    background: "red",
                    minHeight: "10px",
                    outerWidth: "80px",
                    padding: "5px 10px"
                },
                onClick: function () { }
            }).showToast();
        </text>
    }
</script>
